<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', { 
  css: ["productCart.css", "partialsheaderfooter.css"], 
  title: "Carrito" 
}) %>

<body>
  <%- include('../partials/header') %>

  <!-- <div class="contenedor">
    <header>
      <div class="caja" id="logo"><a href="/">TechZone</a></div>
      
      <div class="caja buscador" id="buscador">
        <form action="">
          <input type="search" placeholder="Buscar...">
          <button class="icono-buscador"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
    </header>
  </div> -->
  
  <!--PRODUCTO-->
  <main class="contenedorProducto">
    <div class="descripcionProducto">
      <div>
        <p class="subtitulo">Producto</p>
        <img id="imgProducto" src="/img/products/ryzen5_5600g.jpg" alt="">
        <p>Ryzen 5 5600G</p>
      </div>
      <div>
        <p class="subtitulo">Cantidad</p>
        <p>1</p>
      </div>
      <div>
        <p class="subtitulo">Precio</p>
        <p>$50000</p>
      </div>

    </div>
    
    <!-- RESUMEN COMPRA -->
    <div class="resumenCompra">
      <h3 class="titulo-compra">Tu compra</h3>
      <p>Ryzen 5 5600G</p>
      <div class="item">
      </div>
      <div class="item">
        <p class="subtitulo">envio:</p>
        <p class="response">gratis</p>
      </div>
      <div class="item">
        <p class="subtitulo">Subtotal:</p>
        <p class="response">$50000</p>
      </div>
      
      <div class="item" id="total">
        <p class="subtitulo">Total a pagar:</p>
        <p class="response">$50000</p>
      </div>
    </div>
  </main>

  <%- include('../partials/footer') %>
  
</body>

</html>
