<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creacion de producto</title>

    <link rel="stylesheet" href="/css/detalles.css">
    <link rel="stylesheet" href="/css/partialsheaderfooter.css">


    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bd4409a55c.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../partials/header') %>

    <form method="POST" action="/productDetail/create" enctype="multipart/form-data">

        <main class="card-wrapper">
            <div class="card">
                <!-- imagen del producto -->
                <div class="product-img">
                    <div class="img-display">
                        <label for="input-image">
                            <img src="/img/products/upload-image.png" alt="upload-image">
                        </label>
                        <input required id="input-image" type="file" name="image">
                    </div>
                </div>
                <!-- informacion del producto -->
                <div class="product-content">
                    <!-- titulo -->
                    <h2 class="product-title">
                        <textarea class="input-text" type="text" rows="3"
                        name="name" placeholder="Titulo del producto" ></textarea>
                    </h2>
                    <a href="#" class="product-link">Nashe</a>
                    <!-- precio -->
                    <div class="product-price">Precio:
                        <input required class="input-text" type="number" name="price" placeholder="100000" min="0">
                        <input class="input-text" type="number" name="discount" placeholder="descuento. no es necesario" min="0" max="100">
                    </div>
                    <!-- detalles -->
                    <div class="product-detail">
                        <h2>Descripcion</h2>
                        <p>
                            <textarea required class="input-text" type="text" name="description"  rows="3"
                            placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam autem a repellendus debitis quidem culpa inventore temporibus ullam necessitatibus explicabo!"></textarea>
                        </p>
                        <ul>
                            <li>Disponible: <span>En stock</span></li>
                            <li>
                                <label for="category">Categoria:</label>
                                <select id="category" name="category">
                                    <option value="Electrónica">Electrónica</option>
                                    <option value="Hardware">Hardware</option>
                                    <option value="Periféricos">Periféricos</option>
                                </select>
                            </li>
                            <li>Area de entrega: <span>Todo el país</span></li>
                            <li>Costo de envio: <span>Gratis</span></li>
                        </ul>
                    </div>
                    

                </div>
                <div class="purchase-info">
                    <button type="submit" class="btn">Subir</button>
                </div>

            </div>

        </main>
    </form>

    <%- include('../partials/footer') %>

</body>

</html>