/*Estilos globales*/
* {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: var(--blanco);
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   justify-content: space-between;
}

h2 {
   font-size: 40px;
}

h4 {
   font-size: 28px;
   color: var(--verde);
}

p {
   font-size: 20px;
}

li {
   list-style: none;
}

a{
   color: var(--gris);
   text-decoration: none;
}

.slider-wrapper {
   display: none;
   position: relative;
   max-width: 1400px;
   margin: auto;
}

.slider {
   display: flex;
   aspect-ratio: 150/53;
   width: 100%;
   position: relative;
   overflow: scroll hidden;
   scroll-snap-type: x mandatory;
}

.slider img {

   width: 100%;
   min-width: 100%;
   left: 0;
   object-fit: cover;
   scroll-snap-align: center ;
}

.products-view{
   max-width: 1400px;
   margin: auto;
}

.products {
   max-width: 1400px;
   background-color: var(--grisClaro);
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
   gap: 16px;
   padding: 20px;
   justify-items: center;
}

.products a{
   width: 100%;
}

.products article {
   min-width: 135px;
   background-color: var(--blanco);
   border-radius: 10px;
   height: 100%;
   padding: 5px;
}

.image-container {
   
   margin: auto;
}

.products article img {
   width: 100%;
   background-color: var(--gris);
}

.price {
   font-size: 24px;
   font-weight: bold;
}

.discount-number{
   color: var(--verde);
   text-decoration: line-through;
}

.discount {
   background-color: var(--verde);
   color: var(--negro);
   border-radius: 8px;
   padding: 1px 4px;
}

.description {
   overflow-wrap: break-word;
   color: var(--gris);
   text-align: center;
}

.footer-contact p {
   color: var(--blanco);
}

@media (min-width:500px) {
   
}

@media (min-width:770px) {

   /* main */
   .slider-wrapper {
      display: block;
      position: relative;
   }

}