/*Estilos globales*/
.header-footer {
    box-sizing: border-box;
}

.header-footer h2,
.header-footer h3 {
    font-size: 40px;
    color: var(--gris-oscuro);
}

.header-footer h4 {
    font-size: 28px;
    color: green;
}

.header-footer p {
    font-size: 20px;
}

.header-footer ul {
    margin: 0;
}

.header-footer li {
    list-style: none;
}

.header-footer a {
    color: #FFF;
}


/* header */

.contact {
    background-color: #2D2D33;
    text-align: right;
    height: 25px;
}

.header-top {
    display: flex;
    justify-content: space-around;
    background-color: #37373f;
}

.burger-menu {
    margin: 6px 0 6px 8;
    margin-left: 8px;
    color: green;
    padding: 5px;
}

.logo {
    width: 14vw;
    height: 4vh;
}

.search-group {
    border-radius: 8px;
    position: relative;
    display: none;
}

.search {
    width: 40vw;
    font-size: 22px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;

}

.search:focus {
    outline: #134074 2px solid;
}

.search-group i {
    position: absolute;
    top: 2px;
    right: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #FFF;
    color: black;
    font-size: 24px;
    padding: 7px 11px;
    border-left: #999 solid 1px;
    border-radius: 15px;
}

.login-icon {
    color: #FFF;
}

.login-register {
    display: none;
}

.cart-icon {
    color: #FFF;
}

.cart {
    display: none;
}

.header-nav {
    display: none;
    background-color: #e7e7e7;
}

.header-nav li {
    padding: 15px;
}

/* footer */
.terms {
    display: none;
}

.terms li {
    padding: 10px;
}

.footer-contact {
    padding: 0 10px;
    background-color: #37373f;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: start;
}

.footer-contact p {
    color: #FFF;
}

@media (min-width:770px) {

    .logo {
        height: 80px;
    }

    .header-top {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .login-register {
        display: inline;
    }

    .header-nav {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .burger-menu {
        display: none;
    }

    .search-group {
        display: block;
    }

    .cart {
        display: inline;
    }

    /* footer */

    .terms {
        display: flex;
        justify-content: space-around;
    }

    .footer-contact {
        flex-wrap: wrap;
    }

    .footer-contact div {
        width: 30vw;
    }
}