:root {
  --blanco: #fff;
  --grisClaro: #999;
  --gris: #343636;
  --gris-oscuro: #2d2d33;
  --negro: #000;
  --errorBackgroud: #f99;
  --errorColor: #ff0000;
  --verde: #008000;
  --azul: #134074;
  --azulOscuro: #0b2545;
  --azulGris: #8da9c4;
  --fuente: "Quicksand", sans-serif;
}

/*Estilos globales*/
.header-footer {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: var(--blanco);
}

.header-footer h4 {
  font-size: 28px;
  color: var(--verde);
}

.header-footer p {
  font-size: 1rem;
}

.header-footer li {
  list-style: none;
}

.header-footer a {
  text-decoration: none;
  color: var(--blanco);
}

.header-footer i {
  font-size: 1.5rem;
}

.max-width{
    max-width: 1400px;
    margin: auto;
}

.header-top-bg{
    background-color: #37373f;
}

/* header */

.contact {
  background-color: var(--gris-oscuro);
  text-align: right;
  height: 25px;
  padding-right: 5px;
}

.header-top {
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.burger-menu {
  margin-left: 8px;
  color: var(--verde);
  font-size: 25px;
}

.logo {
  width: 20vw;
  max-width: 240px;
  min-width: 100px;
}

.search-group {
    display: none;    
}

.avatar-header {
  max-width: 35px;
  min-height: 20px;
}

.login-icon {
  color: var(--blanco);
}

.login-icon i {
  font-size: 25px;
}

.log-dropdown {
  position: relative;
  padding: 7px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.log-dropdown-toggle {
  display: none;
}

.nav-drop{
    padding: 0 15px !important;
}
.nav-drop a:hover {
    color: var(--blanco);
}

.nav-drop-toggle{
    background-color: #c7c7c7 !important;
}

.nav-drop{
    padding: 0 15px !important;
}
.nav-drop a:hover{
    color: var(--blanco);
}

.nav-drop-toggle{
    background-color: #c7c7c7 !important;
}

.log-dropdown:hover {
  background-color: var(--gris-oscuro);
}

.log-dropdown:hover .log-dropdown-toggle{
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--gris-oscuro);
    width: 100%;
    padding: 5px;
    z-index: 3;
}

/* .login-register {
    display: none;
} */

.log-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    padding-right: 5px;
    gap: 7px;
}

.cart {
  display: flex;
  align-items: center;
}

.cart-icon {
  color: var(--blanco);
  padding-right: 5px;
}

.cart-text {
  display: none;
}

.header-footer nav {
  background-color: #e7e7e7;
  color: var(--negro);
}

.header-nav {
  display: none;
}

/* footer */

.footer-contact {
  padding: 10px;
  background-color: #37373f;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.footer-contact p {
  color: var(--blanco);
}

@media (min-width:770px) {

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

  .login-register {
    display: inline;
  }

  .header-nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
  }

  .burger-menu {
    display: none;
  }

    .search-group {
        display: flex;
        width: 40%;
        height: 2rem;
    }

    .search {
        flex: 1;
        height: 100%;
        padding: 8px 12px;
        border-radius: 8px 0 0 8px;
        border: none;
    }

    .search:focus {
        outline: var(--azul) 2px solid;
    }

    .search-button{
        width: 3rem;
        height: 100%;
        border: none;
        border-radius: 0 8px 8px 0;
    }

    .search-group i {
        color: var(--negro);
        font-size: 18px;
    }

    .cart-text {
        display: inline;
    }

    .header-nav li{
        padding: 15px 0;
    }

    .header-nav li a{
        padding: 15px;
        color: var(--negro);
    }
    
    .header-nav li:hover {
        background-color: #c7c7c7;
    }

    /* footer */

    .footer-contact {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .footer-contact div {
        width: fit-content;
    }
}
