* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #eee;
  justify-content: space-between;
}

.contenedor {
  width: 100%;
}

/* //PRODUCTO */
.descripcionProducto {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 1vw;
  border: solid 1px black;
  border-radius: 20px;
}

#imgProducto {
  width: 50px;
}

.producto {
  display: flex;
  align-items: center;
}

.descripcionProducto div {
  width: 50%;
}

/* TOTAL A PAGAR */
.resumenCompra {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  border: solid 1px black;
  margin: 1vw 1vw;
  border-collapse: collapse;
  border-radius: 20px;
}

.resumenCompra > p {
  /*producto debajo de compra*/
  margin-top: 13px;
  text-align: center;
  font-weight: bold;
}

.titulo-compra {
  text-align: center;
  font-size: 30px;
}

.subtitulo,
.response {
  padding: 8px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  border-width: 90%;
  padding: 8px 0;
  margin: 0 10%;
}

.subtitulo {
  font-weight: bold;
}

.response {
  font-style: italic;
}

#total {
  font-size: 1.2rem;
}

@media (min-width: 770px) {
  .contenedorProducto {
    display: flex;
  }

  .descripcionProducto {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 70%;
    height: 15vh;
    padding: 50px;
    border: solid 1px black;
    border-radius: 20px;
  }

  .resumenCompra {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 1px black;
    width: 25vw;
    height: 50vh;
    border-collapse: collapse;
    border-radius: 20px;
  }
}
