/*Estilos globales*/
* {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #ffffff;
}

h2,
h3 {
   font-size: 40px;
   color: var(--gris-oscuro);
}

h4{
   font-size: 28px;
   color: green;
}

p {
   font-size: 20px;
}

li{
   list-style: none;
}

a{
   color: #FFF;
}

/* header */
.contact{
   background-color: #2D2D33;
   text-align: right;
   height: 25px;
}

.header-top{
   display: flex;
   justify-content: space-around;
   background-color: #37373f;
}

.burger-menu{
   margin: 6px 0 6px 8;
   margin-left: 8px;
   color: green;
   padding: 5px;
}

.logo{
  width: 14%;
  height: 4vw;
}

.search-group{
   border-radius: 8px;
   position: relative;
   display: none;
}

.search{
   width: 40vw;
   font-size: 22px;
   padding: 8px 12px;
   border-radius: 8px;
   border: none;
   
}

.search:focus{
   outline: #134074 2px solid;
}

.search-group i{
   position: absolute;
   top: 2px ;
   right: 2px;
   padding-left: 5px;
   padding-right: 5px;
   background-color: #FFF;
   color: black;
   font-size: 24px;
   padding: 7px 11px;
   border-left: #999 solid 1px;
   border-radius: 15px;
}

.login-icon{
   color: #FFF;
}

.login-register{
   display: none;
}

.cart-icon{
   color: #FFF;
}

.cart{
   display: none;
}

.header-nav{
   display: none;
   background-color: #e7e7e7;
}

.header-nav li{
   padding: 15px;
}


/* main */
.container {
	padding: 2rem;
   margin-left: 0;
}

.slider-wrapper {
	position: relative;
	min-width: 80%;
	
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; 
	scrollbar-width: none; 
   min-width: 100%;
   height: 530px;
   
   
}


.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}
.carrusel{
   width: 1920px;
   height: 530px;
}
#slide-1{
   width: 1920px;
   height: 530px;
}
.productos{
   margin: 10px auto;
   width: 95vw;
   background-color: #999;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   
}

.productos article{
   width: 20vw;
   min-width: 135px;
   background-color: #FFF;
   border-radius: 10px;
   margin: 10px 5px;
   padding: 5px;
}

.image-container{
   width: 10vw;
   margin: auto;
}

.productos article img{
   width: 100%;
   background-color: #343636;
}

.precio{
   font-size: 24px;
   font-weight: bold;
}

.descuento{
   background-color: green;
   color: black;
   border-radius: 8px;
   padding: 1px 4px;
}

.descripciones{
   color: #343636;
   text-align: center;
}

/* footer */

.terms{
   display: none;
}

.terms li{
   padding: 10px;
}

.footer-contact{
   padding: 0 10px;
   background-color: #37373f;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: start;
}

.footer-contact p{
   color: #FFF;
}

@media (min-width:770px){

   .logo{
      height: 80px;
   }

   .header-top{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
   }

   .login-register{
      display: inline;
   }
   
   .header-nav{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
   }

   .burger-menu{
      display: none;
   }

   .search-group{
      display: block;
   }

   .cart{
      display: inline;
   }

   /* footer */
   .terms{
      display: flex;
      justify-content: space-around;
   }

   .footer-contact{
      flex-wrap: wrap;
   }
   .footer-contact div{
      width: 30vw;
   }
}