<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Zone</title>

    <link rel="stylesheet" href="/css/style.css">


    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bd4409a55c.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="contact">
            <a href="#">contact</a>
        </div>
        <div class="header-top">
            <span class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </span>

            <img class="logo" src="./img/logotz_Mesa de trabajo 1.png" alt="Logo TechZone"></img>

            <span class="search-group">
                <input class="search" type="text">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>

            <div>
                <span class="login-icon">
                    <i class="fa-solid fa-address-card"></i>
                </span>
                <div class="login-register">
                    <a href="/login">
                        <span>
                            login
                        </span>
                        /
                    </a>
                    <a href="#">
                        <span>
                            register
                        </span>
                    </a>
                </div>
            </div>

            <a href="/productCart">
                <span class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </span>
                <div class="cart">
                    carrito
                </div>
            </a>
        </div>


        <nav>
            <ul class="header-nav">
                <li><span>Categorias</span></li>
                <li><span>PCs de Escritorio</span></li>
                <li><span>Notebooks</span></li>
                <li><span>Placas de Video</span></li>
                <li><span>Monitores</span></li>
                <li><span>Micros</span></li>
                <li><span>¡Imperdibles!</span></li>
                <li><span>|Armá tu PC|</span></li>
            </ul>
        </nav>

    </header>

    <main>
            <section class="container">
                <div class="slider-wrapper">
                    <div class="slider">
                        <img id="slide-1" src="../img/banner.png" />
                        <img id="slide-2" src="L" />
                        <img id="slide-3" src="https://images.unsplash.com/photo-1656077217715-bdaeb06bd01f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80" alt="3D rendering of an imaginary blue planet in space" />
                    </div>
                    <div class="slider-nav">
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </div>
            </section>
        </div>

        <h2>Productos</h2>
        <section class="productos">

            <article>
                <div class="image-container">
                    <a href="/productDetail">
                        <img src="/img/img1.jpg" alt="Imagen">
                    </a>
                </div>
                <div class="article-description-content">
                    <div class="precio">$1034532</div>
                    <span class="descuento">10% OFF</span>
                    <div class="descripciones">PC AMD RYZEN 7 7700 32GB SSD 960GB</div>
                </div>
            </article>
            <article>
                <div class="image-container">
                    <a href="">
                        <img src="/img/laptop.jpg" alt="Imagen">
                    </a>
                </div>
                <div class="article-description-content">
                    <div class="precio">$450000</div>
                    <span class="descuento">10% OFF</span>
                    <div class="descripciones">Notebook XPG Xenia 14 i5 1135G7 Iris</div>
                </div>
            </article>
            <article>
                <div class="image-container">
                    <a href="">
                        <img src="/img/laptop.jpg" alt="Imagen">
                    </a>
                </div>
                <div class="article-description-content">
                    <div class="precio">$450000</div>
                    <span class="descuento">10% OFF</span>
                    <div class="descripciones">Notebook XPG Xenia 14 i5 1135G7 Iris</div>
                </div>
            </article>
            <article>
                <div class="image-container">
                    <a href="">
                        <img src="/img/laptop.jpg" alt="Imagen">
                    </a>
                </div>
                <div class="article-description-content">
                    <div class="precio">$450000</div>
                    <span class="descuento">10% OFF</span>
                    <div class="descripciones">Notebook XPG Xenia 14 i5 1135G7 Iris</div>
                </div>
            </article>
        </section>

    </main>

    <footer>
        <ul class="terms">
            <li>quienes somos</li>
            <li>Terminos y condiciones</li>
            <li>politicas de privacidad</li>
            <li>garantia y devoluciones</li>
            <li>promociones y sorteos</li>
        </ul>

        <div class="footer-contact">
            <div>
                <h4>Atencion al Cliente</h4>
                <p>0888-555-8888</p>
                <p>consultas@TechZone.com.ar</p>
                <p>WhatsApp +54 11 9999-9999</p>
                <p>Lunes a viernes de 8 a 18hs.</p>
            </div>
            <div>
                <h4>TechZone lugar</h4>
                <p>Jujuy: Lunes a Viernes de 10 a 17h.</p>
                <p>Córdoba: Lunes a Viernes de 10 a 17h.</p>
            </div>
            <div>
                <h4>se el primero en enterarte</h4>
                <p>suscribite y recibi las mejores ofertas</p>
                <input type="email">
                <a href="#">redes</a>
                <a href="#">redes</a>
                <a href="#">redes</a>
            </div>
        </div>

    </footer>
</body>

</html>