<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Zone</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="contact">
            <a href="#">contact</a>
        </div>
        <div class="header-top">
            <img class="logo" src="" alt="Logo TechZone"></img>

            <input type="text">

            <a href="/login">
                <div>
                    login
                </div>
            </a><a href="#">
                <div>
                    register
                </div>
            </a><a href="#">
                <div>
                    carrito
                </div>
            </a>
        </div>

        <nav >
            <ul class="header-nav">
                <li>Categorias</li>
                <li>PCs de Escritorio</li>
                <li>Notebooks</li>
                <li>Placas de Video</li>
                <li>Monitores</li>
                <li>Micros</li>
                <li>¡Imperdibles!</li>
                <li>|Armá tu PC|</li>
            </ul>
        </nav>

    </header>
    
    <main>
        <div class="carrusel">
            carrusel
        </div>

        <div class="productos">
            productos

        </div>

    </main>

    <footer>
        <ul class="terms">
            <li>quienes somos</li>
            <li>Terminos y condiciones</li>
            <li>politicas de privacidad</li>
            <li>garantia y devoluciones</li>
            <li>promociones y sorteos</li>
        </ul>

        <div class="contact">
            <h3>Atencion al Cliente</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, incidunt?</p>
            <h3>TechZone lugar</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, cum.</p>
            <h3>se el primero en enterarte</h3>
            <p>suscribite y recibi las mejores ofertas</p>
            <input type="email">
            <a href="#">redes</a>
            <a href="#">redes</a>
            <a href="#">redes</a>
        </div>

    </footer>
</body>
</html>