<footer class="header-footer">
    <ul class="terms">
        <li>quienes somos</li>
        <li>Terminos y condiciones</li>
        <li>politicas de privacidad</li>
        <li>garantia y devoluciones</li>
        <li>promociones y sorteos</li>
    </ul>

    <div class="footer-contact">
        <div>
            <h4>Atencion al Cliente</h4>
            <p>0888-555-8888</p>
            <p>consultas@TechZone.com.ar</p>
            <p>WhatsApp +54 11 9999-9999</p>
            <p>Lunes a viernes de 8 a 18hs.</p>
        </div>
        <div>
            <h4>TechZone lugar</h4>
            <p>Jujuy: Lunes a Viernes de 10 a 17h.</p>
            <p>Córdoba: Lunes a Viernes de 10 a 17h.</p>
        </div>
        <div>
            <h4>se el primero en enterarte</h4>
            <p>suscribite y recibi las mejores ofertas</p>
            <input type="email">
            <a href="#">redes</a>
            <a href="#">redes</a>
            <a href="#">redes</a>
        </div>
    </div>

</footer>