<footer class="header-footer">
    
    <div class="header-top-bg">
        <div class="footer-contact max-width">
            <div>
                <h4>Atencion al Cliente</h4>
                <p>0888-555-8888</p>
                <p>consultas@TechZone.com.ar</p>
                <p>WhatsApp +54 11 9999-9999</p>
                <p>Lunes a viernes de 8 a 18hs.</p>
            </div>
            <div>
                <h4>TechZone lugar</h4>
                <p>Jujuy: Lunes a Viernes de 10 a 17h.</p>
                <p>Córdoba: Lunes a Viernes de 10 a 17h.</p>
            </div>
            <div>
                <h4>Se el primero en enterarte</h4>
                <p>Suscribite y recibi las mejores ofertas</p>
                <input type="email">
                <div class="social-links">
                    <p>Compartir en:</p>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</footer>