<header>
    <div class="contact">
        <a href="#">contact</a>
    </div>
    <div class="header-top">
        <span class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </span>

        <img class="logo" src="./img/logotz_Mesa de trabajo 1.png" alt="Logo TechZone"></img>
            
        <span class="search-group">
            <input class="search" type="text">
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>

        <div>
            <span class="login-icon">
                <i class="fa-solid fa-address-card"></i>
            </span>
            <div class="login-register">
                <a href="/login">
                    <span>
                        login
                    </span>
                    /
                </a>
                <a href="/register">
                    <span>
                        register
                    </span>
                </a>
            </div>
        </div>

        <a href="/productCart">
            <span class="cart-icon">
                <i class="fa-solid fa-cart-shopping"></i>
            </span>
            <div class="cart">
                carrito
            </div>
        </a>
    </div>


    <nav>
        <ul class="header-nav">
            <li><span>Categorias</span></li>
            <li><span>PCs de Escritorio</span></li>
            <li><span>Notebooks</span></li>
            <li><span>Placas de Video</span></li>
            <li><span>Monitores</span></li>
            <li><span>Micros</span></li>
            <li><span>¡Imperdibles!</span></li>
            <li><span>|Armá tu PC|</span></li>
        </ul>
    </nav>

</header>