<header class="header-footer">
    <div class="contact">
        <a href="#">contact</a>
    </div>
    <div class="header-top">
        <span class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </span>
        <a href="/">
            <img class="logo" src="/img/logotz_Mesadetrabajo_1.png" alt="Logo TechZone"></img>
        </a>
            
        <span class="search-group">
            <input class="search" type="text">
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>

        <div class="log-cart">
            <% if (locals.isLogged) { %>
                <div class="log-dropdown">
                    <img src="/img/users/<%= locals.userLogged.avatar %>" alt="avatar-profile" class="avatar-header">
                    <!-- <span class="login-icon"><i class="fa-solid fa-address-card"></i></span> -->
                    <span><%= locals.userLogged.name %> <%= locals.userLogged.last_name %></span>
                    <div class="log-dropdown-toggle">
                        <a href="/users/profile">Mi perfil</a>
                        <a href="/users/logout">Cerrar Sesion</a>
                    </div>
                </div>
            <% } else { %>
                <div class="login-register">
                    <a href="/users/login">
                        <span>login /</span>
                    </a>
                    <a href="/users/register">
                        <span>register</span>
                    </a>
                </div>
            <% } %>
            <a class="cart" href="/productCart">
                <span class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </span>
                <div class="cart-text">
                    carrito
                </div>
            </a>            

        </div>
    </div>


    <nav>
        <ul class="header-nav">
            <li>Categorias</li>
            <li>PCs de Escritorio</li>
            <li>Notebooks</li>
            <li>Placas de Video</li>
            <li>Monitores</li>
            <li>Micros</li>
            <li>¡Imperdibles!</li>
            <!-- otro dia con mas calma <li>|Armá tu PC|</li> -->
        </ul>
    </nav>

</header>