<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario CSS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <section class="body-login">
    
    <div class="contenedor-formulario contenedor">
        <div class="imagen-formulario">
            
        </div>

        <form class="formulario">
            <div class="texto-formulario">
                <h2>Hola! Registrate aqui.</h2>
            </div>
            <div class="input">
                <label for="usuario">Nombre</label>
                <input placeholder="Ingresa tu nombre" type="text" id="usuario">
            </div>
            <div class="input">
                <label for="usuario">Apellido</label>
                <input placeholder="Ingresa tu Apellido" type="text" id="usuario">
            </div>
            <div class="input">
                <label for="contrase単a">Correo Electronico</label>
                <input placeholder="Ingresa tu Correo" type="password" id="contrase単a">
            </div>
            <div class="input">
                <label for="usuario">Contrase単a</label>
                <input placeholder="Ingresa tu Contrase単a" type="text" id="usuario">
            </div>
            <div class="input">
                <input type="submit" value="Registrate">
            </div>
        </form>
    </div>
</section>

</body>

</html>